<div class="container">
  <div class="card-product mt-5">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= @pet.name %></h2>
      <p>
        <% if @pet.dead? %>
          <i class="fas fa-skull-crossbones"></i>
        <% else %>
          <i class="fas fa-smile"></i>
        <% end %>
        Found <%= @pet.found_days_ago %> days ago. <%= @pet.species %>
      </p>
    </div>
  </div>
  <%= link_to pets_path do %>
    <i class="fas fa-paw"></i>
  <% end %>
  <%= link_to edit_pet_path(@pet) do %>
    <i class="fas fa-pencil-alt"></i>
  <% end %>
</div>